.process {
	padding: 6rem 0;
}

.pro-content {
	margin: 4rem auto;
	max-width: 450px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pro-content h2 {
	font-size: 2rem;
}

.pro-content p {
	font-size: 1rem;
}

.icon-cards {
	position: relative;
	width: 60vw;
	height: 40vw;
	max-width: 380px;
	max-height: 250px;
	margin: 0 0 4rem 0;
	color: white;
	perspective: 1000px;
	transform-origin: center;
}

.icon-cards__content {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-origin: center;
	transform-style: preserve-3d;
	transform: translateZ(-30vw) rotateY(0);
	-webkit-animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
	animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
}

.icon-cards__content.step-animation {
	-webkit-animation: carousel 8s infinite steps(1) forwards;
	animation: carousel 8s infinite steps(1) forwards;
}

.icon-cards__item {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 60vw;
	height: 40vw;
	max-width: 380px;
	max-height: 250px;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	transform-origin: center;
}

.icon-cards__item:nth-child(1) {
	transform: rotateY(0) translateZ(35vw);
}

.icon-cards__item:nth-child(2) {
	transform: rotateY(120deg) translateZ(35vw);
}

.icon-cards__item:nth-child(3) {
	transform: rotateY(240deg) translateZ(35vw);
}

@-webkit-keyframes carousel {

	0%,
	17.5% {
		transform: translateZ(-35vw) rotateY(0);
	}

	27.5%,
	45% {
		transform: translateZ(-35vw) rotateY(-120deg);
	}

	55%,
	72.5% {
		transform: translateZ(-35vw) rotateY(-240deg);
	}

	82.5%,
	100% {
		transform: translateZ(-35vw) rotateY(-360deg);
	}
}

@keyframes carousel {

	0%,
	17.5% {
		transform: translateZ(-35vw) rotateY(0);
	}

	27.5%,
	45% {
		transform: translateZ(-35vw) rotateY(-120deg);
	}

	55%,
	72.5% {
		transform: translateZ(-35vw) rotateY(-240deg);
	}

	82.5%,
	100% {
		transform: translateZ(-35vw) rotateY(-360deg);
	}
}

@-webkit-keyframes jelly {
	from {
		transform: scale(1, 1);
	}

	30% {
		transform: scale(1.25, 0.75);
	}

	40% {
		transform: scale(0.75, 1.25);
	}

	50% {
		transform: scale(1.15, 0.85);
	}

	65% {
		transform: scale(0.95, 1.05);
	}

	75% {
		transform: scale(1.05, 0.95);
	}

	to {
		transform: scale(1, 1);
	}
}

@keyframes jelly {
	from {
		transform: scale(1, 1);
	}

	30% {
		transform: scale(1.25, 0.75);
	}

	40% {
		transform: scale(0.75, 1.25);
	}

	50% {
		transform: scale(1.15, 0.85);
	}

	65% {
		transform: scale(0.95, 1.05);
	}

	75% {
		transform: scale(1.05, 0.95);
	}

	to {
		transform: scale(1, 1);
	}
}