
@import url(./root.css);
@import url(./font.css);
@import url(./splash.css);
@import url(./process.css);
@import url(./plans.css);
@import url(./footer.css);


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	font-family: 'Poppins', sans-serif;
	text-align: left;

	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--color);
	background: var(--bg);
	font-size: 16px;
	line-height: 1.7;
	height: 100vh;

	width: 100%;
	min-width: 360px;
}

body,
main {
	display: flex;
	flex-direction: column;
}

main {
	width: 100%;
	margin: auto;
	padding: 1rem 0;
	flex: 1;
	align-items: center;
}

.container {
	margin: auto;
	width: 100%;
	max-width: 1200px;
	padding: 1rem;
}

.title {
	font-family: Author, sans-serif;
}

/*  --------------------  */

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

header{
    height: 200px;
    padding: 20px 0;
}

.logo{
    width: 50%;
}

.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}



section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 200px;
    height: 200px;
    background-color: black;

}